<header>
    <div class="time-date">
        <div class="elements-time">
            <span id="days">00</span>
            <span>Days</span>
        </div>
        <div class="elements-time">
            <span id="hours">00</span>
            <span>Hours</span>
        </div>
        <div class="elements-time">
            <span id="mins">00</span>
            <span>Minutes</span>
        </div>
        <div class="elements-time">
            <span id="sec">00</span>
            <span>Seconds</span>
        </div>
    </div>
</header>