<div class="loading">
    <div class="top"></div>
    <div class="mid">
        <img src="img/SAL_E_LUZ/Icons/lampada_01.svg" alt="Lâmpada">
        <img src="img/SAL_E_LUZ/Icons/lampada_02.svg" alt="Lâmpada">
    </div>
    <div class="bot"></div>
</div>