<header>
    <div class="logo">
        <img src="img/logo.jpg" alt="Logo">
    </div>
    <h1>Chama Viva ADBJ <span>🔥</span></h1>
    <div class="menu">
        <nav>
            <ul>
                <li>
                    <a href="/"><i class="ph-thin ph-house-simple"></i> Início </a>
                </li>
                <li>
                    <a href="/eventos"><i class="ph-thin ph-cross"></i> Eventos </a>
                </li>
                <li>
                    <a href="/doacoes"><i class="ph-thin ph-hand-coins"></i> Doação </a>
                </li>
                <li>
                    <a href="/new"><i class="ph-thin ph-waveform"></i> Mais </a>
                </li>
            </ul>
        </nav>
    </div>
</header>