<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/sal_e_luz/sal_e_luz.css">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="js/sal_e_luz/sal_e_luz.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>    
    <script src="js/swiper.js" defer></script>
    
    <script
        src="https://code.jquery.com/jquery-3.7.1.slim.js"
        integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc="
        crossorigin="anonymous">
    </script>
    <script src="js/sal_e_luz/window.js" defer></script>
    <title>Sal e luz 2023</title>
</head>
<body>
    {{> loading}}
    {{> header_saleluz}}
    {{{body}}}
   
</body>
</html>