<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/system/system_main.css">
    <script src="js/system/system.js" defer></script>
    <script src="js/system/main.js" defer></script>
    <title>System</title>
</head>
<body>
    {{{body}}}
</body>
</html>