@font-face {
    font-family: "Retrim";
    src: url(".././fonts/Retrim\ Regular.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Kitchen";
    src: url(".././fonts/Kitchen\ Bold.otf");
    font-display: swap;
  }

  @font-face {
    font-family: "RONORGERIONDEMO";
    src: url(".././fonts/RONORGERIONDEMO-Regular.otf");
    font-display: swap;
  }
 
  @font-face {
    font-family: "Mantilda";
    src: url(".././fonts/Mantilda\ _\ Briant.otf");
    font-display: swap;
  }

  @font-face {
    font-family: "Lemon";
    src: url(".././fonts/LEMONMILK-Bold.otf");
    font-display: swap;
  }

  @font-face {
    font-family: "Edo";
    src: url(".././fonts/edosz.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Staatliches";
    src: url(".././fonts/Staatliches-Regular.ttf");
    font-display: swap;
  }


  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root
{
    --color-01:#2b7f66;
    --color-02:#ff6d00;
    --color-03:#ffae00;
    --color-04:#f5f5f6;
    --color-05:#D962A3;
    --color-06:white;
    --color-07:black;

    --font-01: "Retrim";
    --font-02: "Kitchen";
    --font-03: "RONORGERIONDEMO";
    --font-04: "Mantilda";
    --font-05: "Lemon";
    --font-06: "Edo";
    --font-07: "Staatliches";
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    position: relative;
    background-color: var(--color-04);
}

body .loading
{
    width: 100vw;
    height: 100vh;
    background-color: var(--color-04);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    user-select: none;
    overflow: hidden;
    z-index: 999;
}

body .loading > div
{
    background-color: var(--color-01);
}


body .loading .top
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    transform: scale(3) rotate(-14deg) translateY(-210px);
    
}

body .loading .mid
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    animation: none;

}

body .loading .mid img
{
    width: 100px;
    animation: LoadinAnime .2s ease-in-out infinite alternate;
}

@keyframes LoadinAnime {
    from
    {
        transform: translateY(-5px);
        opacity: 0.8;
    }
    to
    {
        opacity: 1;
        transform: translateY(5px);
    }
}

body .loading .bot
{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 400px;
    transform: scale(3) rotate(-14deg) translateY(210px);
}


body main
{
    display: none;
}

body header
{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: var(--color-04);
    z-index: 100;
    padding: 15px 0;
    border: 2px dashed var(--color-01);
}

body header .time-date
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2px;
    
}

body header .time-date .elements-time
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
}

body header .time-date .elements-time span:nth-child(1)
{
    font-family: var(--font-06);
    font-size: 22px;
}

body header .time-date .elements-time span:nth-child(2)
{
    background-color: var(--color-01);
    padding: 0 5px;
    font-family: var(--font-06);
    color: var(--color-04);
    font-weight: normal;
    text-align: center;
    width: 70px;
}



body section
{
    position: relative;
    padding-bottom: 35px;
}

body section#inicial
{
    padding-top: 200px;
    padding-bottom: 50px;
    min-height: 320px;
    overflow: hidden;
}

body section#inicial .inicial
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 130px;
}

body section#inicial .inicial .titulo_evento
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;

    position: relative;
}

body section#inicial .inicial .titulo_evento .titulo
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 44px;
}


body section#inicial .inicial .titulo_evento .titulo h1
{
    font-family: var(--font-06);
    font-size: 115px;
    font-weight: normal;
}

/* Sal e LUZ LOGO */
body section#inicial .inicial .titulo_evento .titulo h1:nth-child(1)
{
    color: var(--color-01);
}

body section#inicial .titulo_evento .titulo h1:nth-child(2)
{
    color: var(--color-01);
    font-size: 26px;
    transform: translate(-8px, 11px);
    font-family: var(--font-05);
    font-weight: normal;
}

body section#inicial .inicial .titulo_evento .titulo h1:nth-child(3)
{
    color: var(--color-02);
    transform: translate(35px, 0px);
}

body section#inicial .inicial .titulo_evento .titulo h1:nth-child(4)
{
    color: var(--color-02);
    transform: translate(65px, 40px);
    font-size: 50px;
}

body section#inicial .inicial .titulo_evento .image_evento img
{
    position: absolute;
    width: 80px;
    
}

body section#inicial .inicial .titulo_evento .image_evento img:nth-child(1)
{ 
    
    top: -74px;
    right: -59px;
}

body section#inicial .inicial .titulo_evento .image_evento span
{
    position: absolute;
}


body section#inicial .inicial .titulo_evento .image_evento img:nth-child(2)
{ 
    bottom: -40px;
    left: -60px;
}

body section#inicial .inicial .evento_descricao
{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 320px;
    flex-direction: column;
    gap: 130px;
    padding-top: 55px;
}

body section#inicial .inicial .evento_descricao .dias
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    position: relative;
    transform: rotateZ(354deg);
}

body section#inicial .inicial .evento_descricao .dias h1
{
    font-family: var(--font-06);
    font-size: 55px;
    color: var(--color-01);
    font-weight: normal;
}

body section#inicial .inicial .evento_descricao .dias img
{
    position: absolute;
    max-width: 320px;
    z-index: -1;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

body section#inicial .inicial .evento_descricao p
{
    font-family: var(--font-06);
    font-size: 25px;
    color: var(--color-07);
    text-shadow: 3px 3px 0px var(--color-04);
    width: 200px;
}

/* SHOP SHOP SHOP SHOP SHOP SHOP SHOP */

body section#shop
{
    padding-top: 80px;
    overflow: hidden;
    position: relative;
}

body section#shop .shop
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
}

body section#shop .shop .shop_imagem 
{
    width: 400px;
    height: 500px;
    perspective: 1000px;
    position: relative;
    transform: translateX(60px);
    
}

body section#shop .shop .shop_imagem .flip{
    position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
    transition: all .5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

body section#shop .shop .shop_imagem .flip{
	transform: rotateY(0deg);
}

body section#shop .shop .shop_imagem .flip .front{
	transform: rotateY(360deg);
}

body section#shop .shop .shop_imagem .flip .left{
	transform: rotateY(-90deg);
}

body section#shop .shop .shop_imagem .flip .back{
	transform: rotateY(-180deg);
}

body section#shop .shop .shop_imagem .flip .right{
	transform: rotateY(-270deg);
}


body section#shop .shop .shop_imagem .flip > div
{
    position: absolute;
	width: 100%;
	height: 100%;
    backface-visibility: hidden;
}

body section#shop .shop .shop_imagem .flip div img
{
    width: 100%;
	height: 100%;
    object-fit: cover;

}

body section#shop .shop .options_shop
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 57px;
    left: -10px;
    gap: 20px;
    background-color: var(--color-06);
    padding: 4px;
    border-radius: 4px;
    border: 0.2px solid rgba(0, 0, 0, 0.292);
}

body section#shop .shop .options_shop label i
{
    font-size: 25px;
}

body section#shop .shop .comprar 
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px 8px;
    border: 0.5px solid rgb(95, 95, 95);
    background-color: transparent;
    border-radius: 8px;
    background-color: white;
}

body section#shop .shop .comprar .titulo_compra h1
{
    font-family: var(--font-05);
    color: var(--color-01);
    font-weight: 900;
    font-size: 35px;
    transform: rotate(-5deg);
}

body section#shop .shop .comprar .detalhes_compra
{
    margin-top: 25px;
}

body section#shop .shop .comprar .detalhes_compra p
{
    font-family: var(--font-06);
    font-size: 14px;
    color: black;
}

body section#shop .shop .comprar .detalhes_compra p:nth-child(2)
{
    text-align: center;
    margin-top: 10px;
    font-family: var(--font-05);
    font-size: 18px;
    color: var(--color-01);
}

body section#shop .shop .comprar form
{
    position: relative;
    height: 200px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center
}

body section#shop .shop .comprar form > div
{
    position: relative;
    display: none;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 15px;

}

body section#shop .shop .comprar form 
{
    overflow: hidden;
}

body section#shop .shop .comprar form > div.active-form
{
    display: flex;
    animation: animeForm 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.2) alternate both;
    
}

@keyframes animeForm {
    from 
    {
        transform: translateY(100%);
    }
    to
    {
        transform: translateX(0%);
    }
}

body section#shop .shop .comprar form > div label
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    font-family: var(--font-06);
}

body section#shop .shop .comprar form > div label input
{
    padding: 5px 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.776);
    border-radius: 8px;
    outline: none;
    font-size: 20px;
    text-align: center;
}
 
body section#shop .shop .comprar form > div label select
{
    padding: 5px 15px;
    font-size: 18px;
    font-family: var(--font-05);
    border: 0.5px solid rgba(0, 0, 0, 0.331);
}

body section#shop .shop .comprar form > .produto 
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    display: none;
    padding-top: 45px;
}

body section#shop .shop .comprar form > .produto label input
{
    width: 100px;
}

body section#shop .shop .comprar form > div label input::placeholder
{
    color: rgba(0, 0, 0, 0.271);
    text-align: center;
}


body section#shop .shop .comprar form > .submit input
{
    font-family: var(--font-07);
    background-color: var(--color-06);
    border: 1px solid var(--color-01);
    color: var(--color-01);
    font-size: 22px;
    padding: 3px 15px;
    box-shadow: 0px 0px 0px var(--color-07);
    transition: all .3s cubic-bezier(0.215, 0.610, 0.355, 1);
    cursor: pointer;
}

body section#shop .shop .comprar form > .submit input:hover
{
    transform: translateX(-3px) translateY(-3px);
    box-shadow: 6px 6px 0px var(--color-02);
    
    border: 1px solid var(--color-02);
    color: var(--color-02);
}

body section#shop .shop .comprar .shop_next
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

body section#shop .shop .comprar .shop_next button
{
    padding: 8px;
    flex-grow: 1;
    cursor: pointer;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: white;
    font-family: var(--font-05);
    font-weight: normal;
    transition: all .2s ease-in-out;
}

body section#shop .shop .comprar .shop_next button:hover
{
    opacity: 0.9;
}

body section#shop .shop .comprar .shop_next button:nth-child(1)
{
    background-color: var(--color-03);
}

body section#shop .shop .comprar .shop_next button:nth-child(2)
{
    background-color: var(--color-02);
}

/* body section#shop .shop .comprar .link_form 
{
    margin-top: 20px;
}

body section#shop .shop .comprar .link_form a
{
    color: var(--color-06);
    background-color: var(--color-02);
    padding: 8px 15px;
    font-size: 20px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    font-family: var(--font-06);
    text-transform: lowercase;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

body section#shop .shop .comprar .link_form a:hover
{
    color: var(--color-02);
    background-color: var(--color-06);
    box-shadow: 8px 8px 0px var(--color-03),
                -8px -8px 0px var(--color-03);
    border: 0.5px solid var(--color-02);
} */

body section#more .more
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-01);

    width: 100%;
    padding: 50px 0;
    z-index: 999;
    overflow: hidden;
}

body section#more .more .event_image
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
}

body section#more .more .event_image > img
{
    width: 115px;
    position: absolute;
    top: -36px;
    left: -10px;
    transform: rotateZ(-22deg);
    z-index: 1;
}



body section#more .more .event_image .image-content
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    /* gap: 15px; */
}


body section#more .more .event_image .image-content .image
{
    position: relative;
    overflow: hidden;
    width: 91px;
    height: 169px;
    background-color: var(--color-04);
    /* transform: translateX(-49px); */
}

body section#more .more .event_image .image-content .image img
{
    width: 200px;
    position: absolute;
    top: -31px;
    left: -10px;
    user-select: none;

}

body section#more .more .event_image .image-content h1
{
    transform: rotateZ(90deg) scale(3.1);
    letter-spacing: 0.5px;
    white-space: nowrap;
    font-size: 19px;
    font-family: var(--font-07);
    color: var(--color-04);
    z-index: -1;
}

body section#more .more .event_image p.p_01
{
    font-size: 12px;
    font-family: var(--font-07);
    color: var(--color-04);
    transform: translateX(27px);
    font-weight: normal;
    letter-spacing: 0.5px;
    z-index: -1;
}

body section#more .more .event_image p.p_02
{
    font-size: 12px;
    font-family: var(--font-07);
    color: var(--color-04);
    position: absolute;
    top: 0;
    right: 0;
    transform:rotateZ(90deg) translateX(56px) translateY(-26.5px);
    font-weight: normal;
    letter-spacing: 0.5px;
    z-index: -1;
}

body section#more .more .event_image p.p_03
{
    font-size: 12px;
    font-family: var(--font-07);
    color: var(--color-04);
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: normal;
    transform: rotateZ(-90deg) translateX(83px) translateY(-36.5px);
    letter-spacing: 0.5px;
    z-index: 10;
}

body section#more .more .event_image span
{
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
    background-color: var(--color-02);
    color: var(--color-04);
    font-family: var(--font-07);
    font-weight: 100;
    width: 92%;
    letter-spacing: 1px;
}

body section#programacao
{
    position: relative;
}

body section#programacao .programacao
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    gap: 35px;
    
}

body section#programacao .programacao .programacao-title h1
{
    font-family: var(--font-05);
    text-align: center;
    font-size: 30px;
    color: var(--color-06);
    letter-spacing: 2px;
    background-color: transparent;
    padding: 4px 10px;
    border-radius: 4px;
    position: relative;
    display: block;
    background-color: var(--color-02);
    overflow: hidden;
}

body section#programacao .programacao .programacao-title h1:after
{
    content: '09,10 e 11 NOV';
    background-color: #2b7f66;
    position: absolute;
    top: -110%;
    left: 0;
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
    animation: programacaoH1 3s cubic-bezier(0.445, 0.05, 0.55, 1.3) infinite alternate;
}

@keyframes programacaoH1 {
    from{
        top: 0;
    }
}

body section#programacao .programacao .programacao-conteudo
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    
}

body section#programacao .programacao .programacao-conteudo .programacao-itens
{
    width: 320px;
    position: relative;
    padding: 15px 8px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    background-color: #f3eddd;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.556);
    border: 0.5px solid rgba(0, 0, 0, 0.189);
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1);
}

body section#programacao .programacao .programacao-conteudo .programacao-itens:hover
{
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.556);
    transform: translateX(-4px) translateY(-4px);
}

body section#programacao .programacao .programacao-conteudo .programacao-itens .programacao-item 
{
    width: 100%;
}


body section#programacao .programacao .programacao-conteudo .programacao-itens .programacao-item > span

{
    font-family: var(--font-07);
    font-size: 18px;
    border-bottom: 0.5px solid black;
}

body section#programacao .programacao .programacao-conteudo .programacao-itens .programacao-item .programacao-detalhes
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
}

body section#programacao .programacao .programacao-conteudo .programacao-itens .programacao-item .programacao-detalhes .item
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 5px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.254);
    user-select: none;
}

body section#programacao .programacao .programacao-conteudo .programacao-itens .programacao-item .programacao-detalhes .item:hover i
{
    color: var(--color-02);
}

body section#programacao .programacao .programacao-conteudo .programacao-itens .programacao-item .programacao-detalhes .item i
{
    font-size: 30px;
    color: var(--color-01);
    transform: rotate(-7deg);
}

body section#programacao .programacao .programacao-conteudo .programacao-itens .programacao-item .programacao-detalhes .item span
{
    font-family: var(--font-07);
    font-size: 16px;
    letter-spacing: 1px;
}

body section#programacao .programacao .programacao-conteudo .programacao-imagens
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 100%;
    position: relative;
}

body section#programacao .programacao .programacao-conteudo .programacao-imagens img:nth-child(1)
{
    transform: translateX(-38px) translateY(10px);
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

body section#programacao .programacao .programacao-conteudo .programacao-imagens img:nth-child(1):hover
{
    transform: translateX(-36px) translateY(10px);
    
}

body section#programacao .programacao .programacao-conteudo .programacao-imagens img:nth-child(2)
{
    transform: translateX(81px) translateY(-70px);
    transition: all .3s ease-in-out;
    height: 400px;
}

body section#programacao .programacao .programacao-conteudo .programacao-imagens img:nth-child(2):hover
{
    transform: translateX(79px) translateY(-70px);
}

body section#programacao .programacao .programacao-conteudo .programacao-imagens > span:nth-child(3)
{
    position: absolute;
    top: 0;
    font-size: 28px;
    max-width: 110px;
    font-family: var(--font-07);
    transform: translateX(109px) translateY(239px);
    background-color: rgba(255, 255, 255, 0.545);
    border: 0.2px solid var(--color-01);
    padding: 4px 8px;
    border-radius: 6px;
    color: var(--color-01);
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    user-select: none;
    text-align: right;
}

body section#programacao .programacao .programacao-conteudo .programacao-imagens > span:nth-child(4)
{
    position: absolute;
    bottom: 0;
    font-size: 28px;
    max-width: 110px;
    font-family: var(--font-07);
    transform: translateX(-75px) translateY(-120px);
    letter-spacing: 0px;
    background-color: rgba(255, 255, 255, 0.545);
    color: var(--color-01);
    border: 0.2px solid var(--color-01);
    padding: 4px 8px;
    border-radius: 6px;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    user-select: none;
    text-align: center;
}


body section#programacao .programacao .programacao-conteudo .programacao-imagens > span:hover
{
    background-color: var(--color-01);
    color: var(--color-06);
    border: 1px solid var(--color-01);
}

body section#oferta
{
    padding-bottom: 13px;
}

body section#oferta .oferta
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    overflow: hidden;
    padding: 0 0 30px 0;
    background-image: url(../../img/SAL_E_LUZ/Effect/coins.webp);
    background-attachment:fixed ;
    background-size: 50%;
    animation: AnimeBackground 20s ease-in-out infinite alternate;
}

@keyframes AnimeBackground {
    0%
    {
        background-position: 0% 0%;
    }
    100%
    {
        background-position: 100% 100%;
    }
}

body section#oferta .oferta .titulo-oferta
{
    position: relative;
}

body section#oferta .oferta .titulo-oferta .titulo h1
{
    font-size: 85px;
    line-height: 80px;
    font-family: var(--font-05);
    color: var(--color-01);
    text-shadow: 4px 0px 0px var(--color-04),
                 6px 0px 0px var(--color-01);
}

body section#oferta .oferta .titulo-oferta span
{
    font-size: 48px;
    font-family: var(--font-04);
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(205px);
}

body section#oferta .oferta .qrcode
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    padding: 10px 0;
    position: relative;

}

body section#oferta .oferta .qrcode .qrcode-img img
{
    max-width: 320px;
    object-fit: cover;
}

body section#oferta .oferta .qrcode .chave
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

body section#oferta .oferta .qrcode .chave h1
{
    font-family: var(--font-06);
    color: var(--color-07);
    text-shadow: 2px 2px 0px var(--color-06);
    text-align: center;
}

body section#oferta .oferta .qrcode .chave span
{
    font-family: var(--font-07);
    padding: 5px 10px;
    background-color: white;
    border: 0.5px dotted var(--color-07);
    letter-spacing: 1px;
    border-radius: 4px;
}

body section#oferta .oferta .qrcode .chave span span.copiar
{
    display: none;
}

body section#oferta .oferta .qrcode .images img
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateX(-158px) translateY(-100px);

}

body section#mais-info
{
    padding: 0;
}

body section#mais-info .mais-info
{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 80px 0;
    position: relative;
    background-image: url(../../img/SAL_E_LUZ/Fotos/3.webp);
}

body section#mais-info .mais-info .title-info
{
    background-color: var(--color-04);
    padding: 20px;
    border-radius: 4px;
}

body section#mais-info .mais-info .title-info h1
{
    font-family: var(--font-05);
    font-size: 24px;
}

body section#mais-info .mais-info .title-info a
{
    display: block;
    text-align: center;
    font-family: var(--font-07);
    margin-top: 55px;
    font-size: 22px;
    text-decoration: none;
    color: white;
    background-color: var(--color-01);
}

body section#mais-info .mais-info .title-info a:hover
{
    background-color: var(--color-02);
}

body section#endereco
{
    padding: 0;
    overflow: hidden;
}

body section#endereco .endereco
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 65px  8px;
    gap: 38px;
}

body section#endereco .endereco .iframe iframe
{
    height: 200px;
    width: 320px ;
    border: 0.5px solid var(--color-07);
    box-shadow: 10px 10px 0px var(--color-02),
                    -10px -10px 0px var(--color-01),
                    -10px 10px 0px var(--color-02),
                    10px -10px 0px var(--color-01);
    border-radius: 4px;
    background-color: var(--color-04);
                
}


body section#endereco .endereco .swiper
{
    box-shadow: 10px 10px 0px var(--color-01),
                -10px -10px 0px var(--color-02),
                -10px 10px 0px var(--color-01),
                10px -10px 0px var(--color-02);
    border-radius: 4px;
    position: relative;
}


body section#endereco .endereco .swiper .foto-igreja
{
    max-width: 320px;
}

body section#endereco .endereco .swiper .foto-igreja .swiper-slide
{
    height: 100%;

}

body section#endereco .endereco .swiper .foto-igreja .swiper-slide img
{
    width: 100%;
    background-color: transparent;
}

body section#endereco .endereco .swiper span
{
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--color-04);
    font-size: 20px;
    font-family: var(--font-07);
    text-align: center;
}





body section .background_2023
{
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    letter-spacing: 2px;

    opacity: 0.3;
    z-index: -999;
    transition: all .3s ease-in-out;
    user-select: none;
    transform: translateX(-10px) rotate(0deg);
  
}



body section .background_2023 > span
{

    font-family: var(--font-06);
    font-size: 30px;
    font-weight: 800;
    /* -webkit-text-stroke: 0.2px var(--color-01); */
    -webkit-text-fill-color: var(--color-01);
    /*  */
}


@media (min-width: 900px) {
    body section#more .more
    {
        padding: 200px 0;
    }

    body section#more .more .event_image
    {
        transform: scale(1.8);
    }
    
    body section#programacao .programacao .programacao-conteudo .programacao-itens
    {
        width: 620px;
        gap: 32px;
    }

    body section#programacao .programacao .programacao-conteudo .programacao-itens .programacao-item > span
    {
        font-size: 22px;
    }

    body section#programacao .programacao .programacao-conteudo .programacao-itens .programacao-item .programacao-detalhes .item span
    {
        font-size: 24px;
    }

    body section#programacao .programacao .programacao-conteudo .programacao-imagens
    {
        padding: 80px 0;
        flex-direction: row;
    }

    body section#programacao .programacao .programacao-conteudo .programacao-imagens img:nth-child(1)
    {
        transform: translateX(-150px) translateY(-20px);
    }

    body section#programacao .programacao .programacao-conteudo .programacao-imagens img:nth-child(1):hover
    {
        transform: translateX(-135px) translateY(-20px);
    }

    body section#programacao .programacao .programacao-conteudo .programacao-imagens img:nth-child(2)
    {
        transform: translateX(131px) translateY(10px);
    }

    body section#programacao .programacao .programacao-conteudo .programacao-imagens img:nth-child(2):hover
    {
        transform: translateX(120px) translateY(-10px);
    }

    body section#programacao .programacao .programacao-conteudo .programacao-imagens > span:nth-child(3)
    {
        max-width: 160px;
        transform: translateX(59px) translateY(199px);
    }

    body section#programacao .programacao .programacao-conteudo .programacao-imagens > span:nth-child(3):hover
    {
        transform: translateX(59px) translateY(190px);
    }

    body section#programacao .programacao .programacao-conteudo .programacao-imagens > span:nth-child(4)
    {
        max-width: 230px;
        transform: translateX(-125px) translateY(-100px);
    }

    body section#programacao .programacao .programacao-conteudo .programacao-imagens > span:nth-child(4):hover
    {
        transform: translateX(-125px) translateY(-110px);
    }

    body section#oferta .oferta
    {
        flex-direction: row;
        gap: 200px;
    }

    

    body section#oferta .oferta > div
    {
        align-items: center;
        justify-content: center;
    }

    body section#oferta .oferta .qrcode
    {
        padding: 0;
    }

    body section#endereco .endereco
    {
        padding: 25px 0;
        flex-direction: row;
        margin-bottom: 15px;
    }

    body section#endereco .endereco .swiper
    {
        margin: 0;
    }

    body section#endereco .endereco .swiper span
    {
        font-size: 28px;
    }

    body section#mais-info .mais-info .title-info
    {
        width: 500px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }

    body section#mais-info .mais-info .title-info h1 {
        font-size: 38px;
        text-align: center;
    }

    body section#mais-info .mais-info .title-info a
    {
        font-size: 25px;
        width: 100%;
    }

    body section#endereco .endereco
    {
        flex-direction: column;
    }

    body section#endereco .endereco .iframe iframe
    {

        width: 480px;
        height: 370px;
    }

    body section#endereco .endereco .swiper .foto-igreja
    {
        max-width: 492px;

    }
}


@media (min-width: 1150px){

    body section#inicial
    {
        padding-top: 160px;
    }

    body section#inicial .inicial
    {
        flex-direction: row;
        gap: 260px;
    }

    body section#inicial .inicial .titulo_evento .image_evento img
    {
        width: 120px;
    }
    body section#inicial .inicial .titulo_evento .image_evento img:nth-child(1)
    {
        top: -134px;
        right: -179px;
    }

    body section#inicial .inicial .titulo_evento .image_evento img:nth-child(2) {
        bottom: -90px;
        left: -150px;
    }

    body section#inicial .inicial .titulo_evento .titulo
    {
        transform: scale(1.5);
    }

    body section#inicial .inicial .evento_descricao .dias h1
    {
        font-size: 68px;
    }

    body section#inicial .inicial .evento_descricao .dias img
    {
        max-width: 400px;
    }

    body section#inicial .inicial .evento_descricao p
    {
        width: 265px;
        font-size: 25px;
    }

    body section#shop .shop
    {
        flex-direction: row-reverse;
        gap: 110px;
    }

    body section#oferta .oferta .qrcode .chave span
    {
        font-size: 28px;
        position: relative;
        display: block;
        overflow: hidden;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    body section#oferta .oferta .qrcode .chave span span.copiar
    {
        position: absolute;
        bottom: -100px;
        font-size: 20px;
        left: 0;
        width: 100%;
        transition: all .2s ease-in-out;
        text-align: center;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
    body section#oferta .oferta .qrcode .chave span:hover span.copiar
    {
        bottom: 0px;
        background-color: var(--color-01);
        letter-spacing: 2px;
        color: var(--color-04);
    }

    body section#programacao .programacao .programacao-conteudo .programacao-imagens img:nth-child(1)
    {
       transform: translateX(-240px) translateY(-30px);
       transition: all .3s ease-in-out;
    }

    body section#programacao .programacao .programacao-conteudo .programacao-imagens img:nth-child(1):hover
    {
       transform: translateX(-240px) translateY(-30px) scale(1.05);
    }

    body section#programacao .programacao .programacao-conteudo .programacao-imagens img:nth-child(2)
    {
        transform: translateX(261px) translateY(10px);
        transition: all .3s ease-in-out;
    }

    body section#programacao .programacao .programacao-conteudo .programacao-imagens img:nth-child(2):hover
    {
        transform: translateX(261px) translateY(10px) scale(1.05);
    }

    body section#endereco .endereco
    {
        padding: 85px 0;
        flex-direction: row;
    }
    

}