@font-face {
    font-family: "Retrim";
    src: url(".././fonts/Retrim\ Regular.ttf");
  }

  @font-face {
    font-family: "Kitchen";
    src: url(".././fonts/Kitchen\ Bold.otf");
  }

  @font-face {
    font-family: "RONORGERIONDEMO";
    src: url(".././fonts/RONORGERIONDEMO-Regular.otf");
  }
 
  @font-face {
    font-family: "Mantilda";
    src: url(".././fonts/Mantilda\ _\ Briant.otf");
  }

  @font-face {
    font-family: "Lemon";
    src: url(".././fonts/LEMONMILK-Bold.otf");
  }

  @font-face {
    font-family: "Edo";
    src: url(".././fonts/edosz.ttf");
  }

  @font-face {
    font-family: "Staatliches";
    src: url(".././fonts/Staatliches-Regular.ttf");
  }


  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root
{
    --color-01:#2b7f66;
    --color-02:#ff6d00;
    --color-03:#ffae00;
    --color-04:#f5f5f6;
    --color-05:#D962A3;
    --color-06:white;
    --color-07:black;

    --font-01: "Retrim";
    --font-02: "Kitchen";
    --font-03: "RONORGERIONDEMO";
    --font-04: "Mantilda";
    --font-05: "Lemon";
    --font-06: "Edo";
    --font-07: "Staatliches";
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    position: relative;
    background-color: var(--color-04);
    
}

body section
{
    position: relative;
    padding-bottom: 35px;
}

body section#inicial
{
    padding-top: 200px;
    padding-bottom: 50px;
    min-height: 320px;
    overflow: hidden;
}

body section#inicial .inicial
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 55px;
}

body section#inicial .inicial .titulo_evento
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;

    position: relative;
}

body section#inicial .inicial .titulo_evento .titulo
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 44px;
}


body section#inicial .inicial .titulo_evento .titulo h1
{
    font-family: var(--font-06);
    font-size: 115px;
    font-weight: normal;
}

/* Sal e LUZ LOGO */
body section#inicial .inicial .titulo_evento .titulo h1:nth-child(1)
{
    color: var(--color-01);
}

body section#inicial .titulo_evento .titulo h1:nth-child(2)
{
    color: var(--color-01);
    font-size: 26px;
    transform: translate(-8px, 11px);
    font-family: var(--font-05);
    font-weight: normal;
}

body section#inicial .inicial .titulo_evento .titulo h1:nth-child(3)
{
    color: var(--color-02);
    transform: translate(35px, 0px);
}

body section#inicial .inicial .titulo_evento .titulo h1:nth-child(4)
{
    color: var(--color-02);
    transform: translate(65px, 40px);
    font-size: 50px;
}

body section#inicial .inicial .titulo_evento .image_evento img
{
    position: absolute;
    width: 80px;
    
}

body section#inicial .inicial .titulo_evento .image_evento img:nth-child(1)
{ 
    
    top: -74px;
    right: -59px;
}

body section#inicial .inicial .titulo_evento .image_evento span
{
    position: absolute;
}


body section#inicial .inicial .titulo_evento .image_evento img:nth-child(2)
{ 
    bottom: -40px;
    left: -60px;
}

body section#inicial .inicial .evento_descricao
{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 320px;
    flex-direction: column;
    gap: 130px;
    padding-top: 55px;
}

body section#inicial .inicial .evento_descricao .dias
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    position: relative;
    transform: rotateZ(354deg);
}

body section#inicial .inicial .evento_descricao .dias h1
{
    font-family: var(--font-06);
    font-size: 55px;
    color: var(--color-01);
    font-weight: normal;
}

body section#inicial .inicial .evento_descricao .dias img
{
    position: absolute;
    max-width: 320px;
    z-index: -1;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

body section#inicial .inicial .evento_descricao p
{
    font-family: var(--font-05);
    font-size: 16px;
    width: 225px;
}

/* SHOP SHOP SHOP SHOP SHOP SHOP SHOP */

body section#shop
{
    padding-top: 80px;
    overflow: hidden;
    position: relative;
}

body section#shop .shop
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
}

body section#shop .shop .shop_imagem 
{
    width: 400px;
    height: 500px;
    perspective: 1000px;
    position: relative;
    transform: translateX(60px);
    
}

body section#shop .shop .shop_imagem .flip{
    position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
    transition: all .5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

body section#shop .shop .shop_imagem .flip{
	transform: rotateY(0deg);
}

body section#shop .shop .shop_imagem .flip .front{
	transform: rotateY(360deg);
}

body section#shop .shop .shop_imagem .flip .left{
	transform: rotateY(-90deg);
}

body section#shop .shop .shop_imagem .flip .back{
	transform: rotateY(-180deg);
}

body section#shop .shop .shop_imagem .flip .right{
	transform: rotateY(-270deg);
}


body section#shop .shop .shop_imagem .flip > div
{
    position: absolute;
	width: 100%;
	height: 100%;
    backface-visibility: hidden;
}

body section#shop .shop .shop_imagem .flip div img
{
    width: 100%;
	height: 100%;
    object-fit: cover;

}

body section#shop .shop .options_shop
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 57px;
    left: -10px;
    gap: 20px;
    background-color: var(--color-06);
    padding: 4px;
    border-radius: 4px;
    border: 0.2px solid rgba(0, 0, 0, 0.292);
}

body section#shop .shop .options_shop label i
{
    font-size: 25px;
}

body section#shop .shop .comprar 
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px 8px;
    border: 0.5px solid rgb(95, 95, 95);
    background-color: transparent;
    border-radius: 8px;
    background-color: white;
}

body section#shop .shop .comprar .titulo_compra h1
{
    font-family: var(--font-05);
    color: var(--color-01);
    font-weight: 900;
    font-size: 35px;
    transform: rotate(-5deg);
}

body section#shop .shop .comprar .detalhes_compra
{
    margin-top: 25px;
}

body section#shop .shop .comprar .detalhes_compra p
{
    font-family: var(--font-06);
    font-size: 14px;
    color: black;
}

body section#shop .shop .comprar form
{
    position: relative;
    height: 200px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center
}

body section#shop .shop .comprar form > div
{
    position: relative;
    display: none;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

body section#shop .shop .comprar form > div.active-form
{
    display: flex;
}


body section#shop .shop .comprar form > div label
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    font-family: var(--font-06);
}
body section#shop .shop .comprar form > div label input
{
    padding: 5px 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.776);
    border-radius: 8px;
    outline: none;
    font-size: 20px;
    text-align: center;
}
 
body section#shop .shop .comprar form > div label select
{
    padding: 5px 15px;
    font-size: 18px;
    font-family: var(--font-05);
    border: 0.5px solid rgba(0, 0, 0, 0.331);
}

body section#shop .shop .comprar form > .produto 
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    display: none;
    padding-top: 45px;
}

body section#shop .shop .comprar form > .produto label input
{
    width: 100px;
}

body section#shop .shop .comprar form > div label input::placeholder
{
    color: rgba(0, 0, 0, 0.271);
    text-align: center;
}

body section#shop .shop .comprar .shop_next
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

body section#shop .shop .comprar .shop_next button
{
    padding: 8px;
    flex-grow: 1;
    cursor: pointer;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: white;
    font-family: var(--font-05);
    font-weight: normal;
}

body section#shop .shop .comprar .shop_next button:nth-child(1)
{
    background-color: var(--color-03);
}

body section#shop .shop .comprar .shop_next button:nth-child(2)
{
    background-color: var(--color-02);
}

/* body section#shop .shop .comprar .link_form 
{
    margin-top: 20px;
}

body section#shop .shop .comprar .link_form a
{
    color: var(--color-06);
    background-color: var(--color-02);
    padding: 8px 15px;
    font-size: 20px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    font-family: var(--font-06);
    text-transform: lowercase;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

body section#shop .shop .comprar .link_form a:hover
{
    color: var(--color-02);
    background-color: var(--color-06);
    box-shadow: 8px 8px 0px var(--color-03),
                -8px -8px 0px var(--color-03);
    border: 0.5px solid var(--color-02);
} */

body section#more .more
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-01);

    width: 100%;
    padding: 50px 0;
    z-index: 999;
}

body section#more .more .event_image
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
}

body section#more .more .event_image > img
{
    width: 115px;
    position: absolute;
    top: -36px;
    left: -10px;
    transform: rotateZ(-22deg);
    z-index: 1;
}



body section#more .more .event_image .image-content
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    /* gap: 15px; */
}


body section#more .more .event_image .image-content .image
{
    position: relative;
    overflow: hidden;
    width: 91px;
    height: 169px;
    background-color: var(--color-04);
    /* transform: translateX(-49px); */
}

body section#more .more .event_image .image-content .image img
{
    width: 200px;
    position: absolute;
    top: -31px;
    left: -10px;
    user-select: none;
}

body section#more .more .event_image .image-content h1
{
    transform: rotateZ(90deg) scale(3.1);
    letter-spacing: 0.5px;
    white-space: nowrap;
    font-size: 19px;
    font-family: var(--font-07);
    color: var(--color-04);
    z-index: 10;

}

body section#more .more .event_image p.p_01
{
    font-size: 12px;
    font-family: var(--font-07);
    color: var(--color-04);
    transform: translateX(27px);
    font-weight: normal;
    letter-spacing: 0.5px;
}

body section#more .more .event_image p.p_02
{
    font-size: 12px;
    font-family: var(--font-07);
    color: var(--color-04);
    position: absolute;
    top: 0;
    right: 0;
    transform:rotateZ(90deg) translateX(56px) translateY(-26.5px);
    font-weight: normal;
    letter-spacing: 0.5px;
}

body section#more .more .event_image p.p_03
{
    font-size: 12px;
    font-family: var(--font-07);
    color: var(--color-04);
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: normal;
    transform: rotateZ(-90deg) translateX(82px) translateY(-36.5px);
    letter-spacing: 0.5px;
}

body section#more .more .event_image span
{
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
    background-color: var(--color-02);
    color: var(--color-04);
    font-family: var(--font-07);
    font-weight: 100;
    width: 92%;
    letter-spacing: 1px;
}

body section#programacao
{
    position: relative;
}

body section#programacao .programacao
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    gap: 35px;
    
}

body section#programacao .programacao .programacao-title h1
{
    font-family: var(--font-05);
    text-align: center;
    font-size: 30px;
    color: var(--color-06);
    letter-spacing: 2px;
    background-color: transparent;
    padding: 4px 10px;
    border-radius: 4px;
    position: relative;
    display: block;
    background-color: var(--color-02);
    overflow: hidden;
}

body section#programacao .programacao .programacao-title h1:after
{
    content: '09,10 e 11 NOV';
    background-color: #2b7f66;
    position: absolute;
    top: -110%;
    left: 0;
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
    animation: programacaoH1 3s cubic-bezier(0.445, 0.05, 0.55, 1.3) infinite alternate;
}

@keyframes programacaoH1 {
    from{
        top: 0;
    }
}

body section#programacao .programacao .programacao-conteudo
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    
}

body section#programacao .programacao .programacao-conteudo .programacao-itens
{
    width: 320px;
    position: relative;
    padding: 15px 8px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    background-color: #f3eddd;
    border-radius: 4px;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.556);
    border: 0.5px solid rgba(0, 0, 0, 0.189);
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 2.275);
}

body section#programacao .programacao .programacao-conteudo .programacao-itens:hover
{
    box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.556);
    transform: translateX(-2px) translateY(-2px);
}

body section#programacao .programacao .programacao-conteudo .programacao-itens .programacao-item 
{
    width: 100%;
}


body section#programacao .programacao .programacao-conteudo .programacao-itens .programacao-item > span

{
    font-family: var(--font-07);
    font-size: 18px;
    border-bottom: 0.5px solid black;
}

body section#programacao .programacao .programacao-conteudo .programacao-itens .programacao-item .programacao-detalhes
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
}

body section#programacao .programacao .programacao-conteudo .programacao-itens .programacao-item .programacao-detalhes .item
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 5px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.254);
    
}

body section#programacao .programacao .programacao-conteudo .programacao-itens .programacao-item .programacao-detalhes .item:hover i
{
    color: var(--color-02);
}

body section#programacao .programacao .programacao-conteudo .programacao-itens .programacao-item .programacao-detalhes .item i
{
    font-size: 30px;
    color: var(--color-01);
    transform: rotate(-7deg);
}

body section#programacao .programacao .programacao-conteudo .programacao-itens .programacao-item .programacao-detalhes .item span
{
    font-family: var(--font-07);
    font-size: 16px;
    letter-spacing: 1px;
}

body section#programacao .programacao .programacao-conteudo .programacao-imagens
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 100%;
    position: relative;
}

body section#programacao .programacao .programacao-conteudo .programacao-imagens img:nth-child(1)
{
    transform: translateX(-38px) translateY(10px);
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

body section#programacao .programacao .programacao-conteudo .programacao-imagens img:nth-child(1):hover
{
    transform: translateX(-36px) translateY(10px);
    
}

body section#programacao .programacao .programacao-conteudo .programacao-imagens img:nth-child(2)
{
    transform: translateX(81px) translateY(-70px);
    transition: all .3s ease-in-out;
    height: 400px;
}

body section#programacao .programacao .programacao-conteudo .programacao-imagens img:nth-child(2):hover
{
    transform: translateX(79px) translateY(-70px);
}

body section#programacao .programacao .programacao-conteudo .programacao-imagens > span:nth-child(3)
{
    position: absolute;
    top: 0;
    font-size: 20px;
    max-width: 135px;
    font-family: var(--font-05);
    transform: translateX(100px) translateY(258px);
    letter-spacing: 2px;
    background-color: var(--color-03);
    padding: 4px 8px;
    border-radius: 6px;
    color: var(--color-07);
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    user-select: none;
    text-align: right;
}




body section#programacao .programacao .programacao-conteudo .programacao-imagens > span:nth-child(4)
{
    position: absolute;
    bottom: 0;
    font-size: 20px;
    max-width: 155px;
    font-family: var(--font-05);
    transform: translateX(-75px) translateY(-120px);
    letter-spacing: 2px;
    background-color: var(--color-02);
    color: var(--color-06);
    padding: 4px 8px;
    border-radius: 6px;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    user-select: none;
    text-align: center;
}


body section#programacao .programacao .programacao-conteudo .programacao-imagens span:hover
{
    background-color: var(--color-03);
    color: var(--color-07);
}

body section#oferta .oferta
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    overflow: hidden;
}

body section#oferta .oferta .titulo-oferta
{
    position: relative;
}

body section#oferta .oferta .titulo-oferta .titulo h1
{
    font-size: 85px;
    line-height: 80px;
    font-family: var(--font-05);
    color: var(--color-01);
    text-shadow: 4px 0px 0px var(--color-04),
                 6px 0px 0px var(--color-01);
}

body section#oferta .oferta .titulo-oferta span
{
    font-size: 48px;
    font-family: var(--font-04);
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(205px);
}

body section#oferta .oferta .qrcode
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    padding: 10px 0;
    position: relative;

}

body section#oferta .oferta .qrcode .qrcode-img img
{
    max-width: 320px;
    object-fit: cover;
}

body section#oferta .oferta .qrcode .chave
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

body section#oferta .oferta .qrcode .chave h1
{
    font-family: var(--font-06);
    text-align: center;
}

body section#oferta .oferta .qrcode .chave span
{
    font-family: var(--font-07);
    margin-top: 10px;
    padding: 5px 10px;
    background-color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

body section#oferta .oferta .qrcode .images img
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateX(-158px) translateY(-100px);

}






body section .background_2023
{
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;

    overflow: hidden;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;

    opacity: 0.2;
    z-index: -999;
    transition: all .3s ease-in-out;
    user-select: none;
    transform: translateX(-5px) rotate(-5deg);
}



body section .background_2023 > span
{

    font-family: var(--font-06);
    font-size: 30px;
    font-weight: 800;
    -webkit-text-stroke: 0.2px var(--color-01);
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0 0px var(--color-01);
    letter-spacing: 2px;
}


