<main>
    <div class="options">
        <a href="/vendas">
            <div class="option">
                <i class="ph ph-shopping-cart-simple"></i>
                <h1>Vendas</h1>
            </div>
        </a>
    </div>
</main>