<main >
    <section id="inicio">
        <div class="chamaviva-logo">
            <div class="text-logo">
                <img src="img/chamaviva/logo-chama.svg" alt="logo chama viva">
                <h1>CHA</h1>
                <h1>MA</h1>
                <h1>VIVA</h1>
                <span>Juventude</span>
            </div>
        </div>
        <div class="descricao-evento">
            <div class="descricao-detalhes">
                <p>Escolhidos para viver as promessas de Deus</p>
                <a href="">@chamavivaadbj</a>
            </div>
            <div class="detalhes-img">
                <img src="img/SAL_E_LUZ/02.jpeg" alt="jovens">
            </div>
        </div>
    </section>

    <section id="sobre">
        <div class="sobre">

            <div class="lideres">
                <div class="lider">
                    <h1>Jaiane</h1>
                    <img src="img/PRESIDENTES/presidentes.jpeg" alt="">
                    <p>Caso queira colocar alguma descrição</p>
                </div>
                <div class="lider">
                    <h1>Mayara</h1>
                    <img src="img/PRESIDENTES/presidentes.jpeg" alt="">
                    <p>Caso queira colocar alguma descrição</p>
                </div>
            </div>

            <span>JUVENTUDE CHAMA VIVA</span>

            <div class="sobre-titulo">
                <img src="img/chamaviva/svg01.svg" alt="SVG">
                <div class="titulo">
                    <h1>SO</h1>
                    <h1>BRE</h1>
                    <h1>NÓS</h1>
                </div>
                <p>somos tararararararararararararararaarkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk....</p>
            </div>
        </div>
    </section>

    <section id="culto">
        <div class="culto">

            <div class="culto-logo">
                <div class="culto-titulo">
                    <h1>SÁ</h1>
                    <h1>BA</h1>
                    <h1>DO</h1>
                </div>
                <span>Segundo</span>
                <span>Às 19H</span>
            </div>

            <div class="culto-descricao">
                <p>Estamos muito animados em convidá-los para o nosso próximo culto de jovens</p>
            </div>

            <div class="final-descricao-culto">
                <span>18H</span>
                <h1>MOMENTO<br> ADORAÇÃO</h1>
                <img class="svg03" src="img/chamaviva/svg03.svg" alt="">
            </div>
            <img class="svg04" src="img/chamaviva/svg02.svg" alt="">
        </div>
    </section>

    <section id="endereco">
        <div class="endereco">
            <div class="localizacao">
                <div class="background-effect"></div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3981.100582733045!2d-38.597387925452956!3d-3.788280043478805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c74c48b1a77ae1%3A0x798d04db4894a472!2sR.%20Luminosa%2C%20585%20-%20Granja%20Portugal%2C%20Fortaleza%20-%20CE%2C%2060540-755!5e0!3m2!1spt-BR!2sbr!4v1692396058481!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="localizacao-name">
                <div class="imagem-igreja swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="img/chamaviva/igreja_foto.jpeg" alt="Nossa igreja">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/chamaviva/igreja_foto.jpeg" alt="Nossa igreja">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/chamaviva/igreja_foto.jpeg" alt="Nossa igreja">
                        </div>
                    </div>
                    
                </div>

                <div class="nome-rua">
                    <h1>RUA LUMINOSA,<br> 585 BOM JARDIM</h1>
                    <img src="img/chamaviva/localizacao01.webp" alt="localização">
                </div>
            </div>
        </div>
    </section>

    <section id="mensagem-final">
        <div class="mensagem-final">
            <h1>PRONTOS<br> PARA VIVER O <br>ESTRAORDINÁRIO</h1>
            <span>?</span>
        </div>
    </section>


    <div class="voltar">
        <a href="#body">
            <i class="ph ph-arrow-fat-lines-up"></i>
        </a>
    </div>

</main>