<main>
    <section id="inicio">
        <div class="chamaviva-logo">
            <div class="text-logo">
                <img src="img/chamaviva/logo-chama.svg" alt="logo chama viva">
                <h1>CHA</h1>
                <h1>MA</h1>
                <h1>VIVA</h1>
                <span>Juventude</span>
            </div>
        </div>
        <div class="descricao-evento">
            <div class="descricao-detalhes">
                <p>Escolhidos para viver as promessas de Deus</p>
                <a href="">@chamavivaadbj</a>
            </div>
            <div class="detalhes-img">
                <img src="img/SAL_E_LUZ/02.jpeg" alt="jovens">
            </div>
        </div>
    </section>

    <section id="sobre">
        <div class="sobre">

            <div class="lideres">
                <div class="lider">
                    <h1>Jaiane</h1>
                    <img src="img/chamaviva/logo-chama.svg" alt="">
                    <p>Caso queira colocar alguma descrição</p>
                </div>
                <div class="lider">
                    <h1>Mayara</h1>
                    <img src="img/chamaviva/logo-chama.svg" alt="">
                    <p>Caso queira colocar alguma descrição</p>
                </div>
            </div>

            <span>JUVENTUDE CHAMA VIVA</span>

            <div class="sobre-titulo">
                <img src="img/chamaviva/svg01.svg" alt="SVG">
                <div class="titulo">
                    <h1>SO</h1>
                    <h1>BRE</h1>
                    <h1>NÓS</h1>
                </div>
                <p>somos tararararararararararararararaarkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk....</p>
            </div>
        </div>
    </section>

    <section id="culto">
        <div class="culto">

            <div class="culto-logo">
                <div class="culto-titulo">
                    <h1>SÁ</h1>
                    <h1>BA</h1>
                    <h1>DO</h1>
                </div>
                <span>Segundo</span>
                <span>Às 19H</span>
            </div>

            <div class="culto-descricao">
                <p>Estamos muito animados em convidá-los para o nosso próximo culto de jovens</p>
            </div>

            <div class="final-descricao-culto">
                <span>18H</span>
                <h1>MOMENTO<br> ADORAÇÃO</h1>
                <img class="svg03" src="img/chamaviva/svg03.svg" alt="">
            </div>
            <img class="svg04" src="img/chamaviva/svg02.svg" alt="">
        </div>
    </section>
</main>