<header>
    <div class="logo-chamaviva">
        <img src="img/icone/icone.png" alt="">
    </div>

    <div class="open_menu">
        <i class="ph-bold ph-list menu-open"></i>
    </div>

    <div class="menu">
        <nav>
            <li><a href="">Home</a></li>
            <li><a href="">Evento</a></li>
            <li><a href="">Sobre</a></li>
            <li><a href="">T-Shirt</a></li>
            <li><a href="">Doações</a></li>
            <li><a href="">Mais</a></li>
        </nav>
    </div>
</header>

<main>
    <section>

        <img src="img/BACKGROUND/png_01.png" class="img-01" alt="">
        <img src="img/BACKGROUND/png_01.png" class="img-02" alt="">

        <div class="apresentacao">
            <img src="img/logo_sf.png" alt="">
        </div>

        <div class="intagram-info">
            <a href=""><i class="ph ph-at"></i>chamavivaadbj</a>
        </div>
    </section>

    <section>
        <div class="datas">
            <img src="img/BACKGROUND/circle.svg" alt="circle">
            <h1>09, 10 E 11 DE<br> NOVEMBRO</h1>
        </div>
    </section>

    <section>
        <div class="endereco">
            <h1>Rua Luminosa, 585 <br> Granja Portugal</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3981.1005580887386!2d-38.59481299999997!3d-3.7882853999999972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c74c48b1a77ae1%3A0x798d04db4894a472!2sR.%20Luminosa%2C%20585%20-%20Granja%20Portugal%2C%20Fortaleza%20-%20CE%2C%2060540-755!5e0!3m2!1spt-BR!2sbr!4v1691627294897!5m2!1spt-BR!2sbr" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    <section>
        <div class="mais-informacoes">
            <div class="images-event">
                <svg viewBox="0 0 498.8 477.99"><g id="ZEQlfaReEgjVfeJy" style="transform:scale(1, 1);"><path id="uAVv4WXVi7LGqLfd" d="M498.79998779296875,476.6700134277344 C477.699987411499,478.90001344680786 459.0699882507324,477.8700134754181 437.7799873352051,476.7700134292245 C320.18999099731445,478.6300134435296 170.5099983215332,477.25001341849566 45.92998123168945,477.06001342087984 C41.0999813079834,478.76001346856356 42.97998118400574,473.1600133255124 41.42998123168945,470.9600135162473 C37.19998121261597,467.0900136306882 33.5999813079834,463.4600135162473 31.7899808883667,458.560013897717 C35.22998094558716,435.2400142028928 40.239980697631836,443.32001412659883 34.31998085975647,427.9900142028928 C38.31998085975647,420.83001435548067 35.399980902671814,411.310013897717 31.139980792999268,407.8600150421262 C27.049980640411377,395.1500150039792 30.249980807304382,403.3900152519345 25.59998083114624,396.4300147369504 C19.469980716705322,394.3200148418546 26.419980823993683,391.53001464158297 23.609980821609497,389.96001494675875 C17.56998085975647,378.4500147178769 13.029980897903442,373.6900144889951 6.609980821609497,365.8800150230527 C2.4999806880950928,363.34001506119967 7.109980821609497,360.09001506119967 5.09998083114624,358.33001483231783 C-6.420019626617432,351.03001464158297 5.479980826377869,352.8000146225095 3.3899807929992676,347.6700149849057 C-0.5100193023681641,340.21001494675875 4.879980802536011,333.2000147178769 7.84998083114624,328.59001506119967 C16.229980945587158,319.2900148704648 23.339980602264404,304.08001483231783 21.40998125076294,301.2300144508481 C21.64998124539852,296.070014603436 28.55998134613037,293.15001452714205 26.369981288909912,287.7900148704648 C28.289981245994568,284.2900148704648 32.14998149871826,278.43001521378756 36.3999810218811,274.55001509934664 C36.95998102426529,260.2300154045224 39.709980964660645,254.93001426011324 41.519980907440186,247.5100141838193 C45.429980993270874,240.9000140503049 46.68998098373413,234.35001433640718 50.53998136520386,228.80001509934664 C46.65998125076294,222.80001509934664 51.919981360435486,221.92001498490572 50.17998135089874,219.36001551896334 C57.81998121738434,209.2500158622861 55.479981541633606,190.80001605302095 53.78998124599457,179.880015976727 C51.21998131275177,172.18001616746187 49.15998113155365,168.29001582413912 43.50998151302338,164.99001563340425 C44.73998153209686,160.79001582413912 40.59998142719269,157.1600157096982 39.32998168468475,157.65001548081636 C40.0699816942215,149.3800150230527 36.15998160839081,147.0700155571103 35.20998179912567,143.8200155571103 C30.52998197078705,139.63001549988985 41.34998166561127,139.02001536637545 35.47998180985451,133.58001578599215 C37.15998175740242,125.57001555711031 37.36998179554939,121.46001590043306 35.76998180150986,117.93001616746187 C34.54998177289963,115.00001610070467 40.81998199224472,109.09001601487398 38.5799817442894,109.58001578599215 C38.679981745779514,105.14001572877169 35.7599818110466,103.26001561433077 34.119981706142426,101.93001569062471 C34.869981706142426,100.10001564770937 39.5799817442894,96.69001591950655 40.10998147726059,95.6600157096982 C40.67998147010803,91.11001551896334 34.869981706142426,90.10001576691866 39.199981451034546,85.43001616746187 C36.199981451034546,79.90001595765352 33.829981565475464,79.16001618653536 34.83998131752014,75.14001620560884 C26.389981508255005,43.6000152900815 34.78998131677508,53.75001681596041 38.0999813079834,36.820016510784626 C42.56998109817505,24.190016396343708 36.71998131275177,26.930016167461872 35.49998140335083,18.230016358196735 C37.189998626708984,1.4199999570846558 29.559999465942383,4.039999961853027 39.70000076293945,0.0 C182.17999649047852,1.4600000381469727 332.43999099731445,1.0099999904632568 468.3799934387207,0.20000000298023224 C481.1999931335449,2.4500000029802322 497.1999931335449,-1.2099999636411667 498.10999298095703,1.660000041127205 C498.6499930024147,15.720000460743904 498.0699929818511,31.30999965965748 498.059992980212,48.090000346302986 C497.95999297872186,129.3599969893694 498.809992980212,216.1400033980608 498.12999298051,294.28000278770924 C499.0400085449219,359.7699890136719 497.30999755859375,414.6199951171875 498.79998779296875,476.6700134277344" style="opacity:1.0;"></path></g></svg>
                <svg viewBox="0 0 498.8 477.99"><g id="ZEQlfaReEgjVfeJy" style="transform:scale(1, 1);"><path id="uAVv4WXVi7LGqLfd" d="M498.79998779296875,476.6700134277344 C477.699987411499,478.90001344680786 459.0699882507324,477.8700134754181 437.7799873352051,476.7700134292245 C320.18999099731445,478.6300134435296 170.5099983215332,477.25001341849566 45.92998123168945,477.06001342087984 C41.0999813079834,478.76001346856356 42.97998118400574,473.1600133255124 41.42998123168945,470.9600135162473 C37.19998121261597,467.0900136306882 33.5999813079834,463.4600135162473 31.7899808883667,458.560013897717 C35.22998094558716,435.2400142028928 40.239980697631836,443.32001412659883 34.31998085975647,427.9900142028928 C38.31998085975647,420.83001435548067 35.399980902671814,411.310013897717 31.139980792999268,407.8600150421262 C27.049980640411377,395.1500150039792 30.249980807304382,403.3900152519345 25.59998083114624,396.4300147369504 C19.469980716705322,394.3200148418546 26.419980823993683,391.53001464158297 23.609980821609497,389.96001494675875 C17.56998085975647,378.4500147178769 13.029980897903442,373.6900144889951 6.609980821609497,365.8800150230527 C2.4999806880950928,363.34001506119967 7.109980821609497,360.09001506119967 5.09998083114624,358.33001483231783 C-6.420019626617432,351.03001464158297 5.479980826377869,352.8000146225095 3.3899807929992676,347.6700149849057 C-0.5100193023681641,340.21001494675875 4.879980802536011,333.2000147178769 7.84998083114624,328.59001506119967 C16.229980945587158,319.2900148704648 23.339980602264404,304.08001483231783 21.40998125076294,301.2300144508481 C21.64998124539852,296.070014603436 28.55998134613037,293.15001452714205 26.369981288909912,287.7900148704648 C28.289981245994568,284.2900148704648 32.14998149871826,278.43001521378756 36.3999810218811,274.55001509934664 C36.95998102426529,260.2300154045224 39.709980964660645,254.93001426011324 41.519980907440186,247.5100141838193 C45.429980993270874,240.9000140503049 46.68998098373413,234.35001433640718 50.53998136520386,228.80001509934664 C46.65998125076294,222.80001509934664 51.919981360435486,221.92001498490572 50.17998135089874,219.36001551896334 C57.81998121738434,209.2500158622861 55.479981541633606,190.80001605302095 53.78998124599457,179.880015976727 C51.21998131275177,172.18001616746187 49.15998113155365,168.29001582413912 43.50998151302338,164.99001563340425 C44.73998153209686,160.79001582413912 40.59998142719269,157.1600157096982 39.32998168468475,157.65001548081636 C40.0699816942215,149.3800150230527 36.15998160839081,147.0700155571103 35.20998179912567,143.8200155571103 C30.52998197078705,139.63001549988985 41.34998166561127,139.02001536637545 35.47998180985451,133.58001578599215 C37.15998175740242,125.57001555711031 37.36998179554939,121.46001590043306 35.76998180150986,117.93001616746187 C34.54998177289963,115.00001610070467 40.81998199224472,109.09001601487398 38.5799817442894,109.58001578599215 C38.679981745779514,105.14001572877169 35.7599818110466,103.26001561433077 34.119981706142426,101.93001569062471 C34.869981706142426,100.10001564770937 39.5799817442894,96.69001591950655 40.10998147726059,95.6600157096982 C40.67998147010803,91.11001551896334 34.869981706142426,90.10001576691866 39.199981451034546,85.43001616746187 C36.199981451034546,79.90001595765352 33.829981565475464,79.16001618653536 34.83998131752014,75.14001620560884 C26.389981508255005,43.6000152900815 34.78998131677508,53.75001681596041 38.0999813079834,36.820016510784626 C42.56998109817505,24.190016396343708 36.71998131275177,26.930016167461872 35.49998140335083,18.230016358196735 C37.189998626708984,1.4199999570846558 29.559999465942383,4.039999961853027 39.70000076293945,0.0 C182.17999649047852,1.4600000381469727 332.43999099731445,1.0099999904632568 468.3799934387207,0.20000000298023224 C481.1999931335449,2.4500000029802322 497.1999931335449,-1.2099999636411667 498.10999298095703,1.660000041127205 C498.6499930024147,15.720000460743904 498.0699929818511,31.30999965965748 498.059992980212,48.090000346302986 C497.95999297872186,129.3599969893694 498.809992980212,216.1400033980608 498.12999298051,294.28000278770924 C499.0400085449219,359.7699890136719 497.30999755859375,414.6199951171875 498.79998779296875,476.6700134277344" style="opacity:1.0;"></path></g></svg>
                <img src="img/CULTO_JOVENS_JULHO/JOVES_03.jpeg" alt="">
                <img src="img/CULTO_JOVENS_JULHO/JOVES_03.jpeg" alt="">
            </div>

            <div class="mais-informacoes_pergunta">
                <h1>PRONTOS PARA VIVER O EXTRAORDINÁRIO</h1>
                <img src="img/BACKGROUND/duvida.png" alt="">
            </div>
        </div>
    </section>

    <section>
        <div class="shop">
            <h1>ADIQUIRA JÁ A SUA</h1>
            <span>Acesse o link</span>
            <a href="">Clique aqui</a>
        </div>
    </section>

    <section>
        <div class="shop-itens">
            <img src="" alt="">
        </div>
    </section>
</main>