<section id="inicial">
    <div class="inicial">

        <div class="titulo_evento">
            <div class="titulo">
                <h1>SAL</h1>
                <h1>&</h1>
                <h1>LUZ</h1>
                <h1>2023</h1>
            </div>
            <div class="image_evento">

                <img src="img/SAL_E_LUZ/Icons/lampada_01.svg" alt="Lâmpada">
                <img src="img/SAL_E_LUZ/Icons/lampada_02.svg" alt="Lâmpada">
            </div>
        </div>

        <div class="evento_descricao">
            <!-- Aqui começa a descrição do evento -->
            <div class="dias">
                <h1>9,10 E 11 DE</h1>
                <h1>NOVEMBRO</h1>
                <img src="img/SAL_E_LUZ/Icons/circle_01.svg" alt="Circulo">
            </div>
            <p>Estamos muito animados em convidá-los para nosso evento Sal e Luz</p>
        </div>

        {{!-- <img src="img/SAL_E_LUZ/Icons/tinta_01.svg" alt=""> --}}
    </div>
    <div class="background_2023" />

</section>

<section id="shop">
    <div class="shop">
        <div class="shop_imagem">
            <div class="flip">
                <div class="front">
                    <img src="img/SAL_E_LUZ/BLUSA_03.png" />
                </div>
                <div class="left">
                    <img src="img/SAL_E_LUZ/BLUSA_03.png" />
                </div>
                
                <div class="back">
                    <img src="img/SAL_E_LUZ/BLUSA_03.png" />
                </div>

                <div class="right">
                    <img src="img/SAL_E_LUZ/BLUSA_03.png" />
                </div>
            </div>

            <div class="options_shop">
                <label for="front"> <i class="ph ph-arrow-up"></i>
                    <input type="radio" name="radio" id="front" checked="true">
                </label>
                
                <label for="left"> <i class="ph ph-arrow-left"></i>
                    <input type="radio" name="radio" id="left">
                </label>

                <label for="back"> <i class="ph ph-arrow-down"></i>
                    <input type="radio" name="radio" id="back">
                </label>

                <label for="right"> <i class="ph ph-arrow-right"></i>
                    <input type="radio" name="radio" id="right">
                </label>
            </div>

        </div>
        
        <div class="comprar">
            <div class="titulo_compra">
                <h1>ADQUIRA</h1>
                <h1>JÁ A SUA!</h1>
            </div>
            <div class="detalhes_compra">
                <p>Tamanhos/Preços/Formas de pagamento </p>
            </div>
            <div class="link_form">
                <a target="_blank" href="https://docs.google.com/forms/d/1l4J_Al1huE4JS7H9f26OiLDei9ZSTl3KRdQ_BL3zMH4/viewform?edit_requested=true">CLique aqui</a>
            </div>
            <div class="form_data">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdmYc95MJiEqwbvRCAMPF-jIZPmEIfJ6ir58jw6fd60dVnUdQ/viewform?embedded=true" width="320" height="862" frameborder="0" marginheight="0" marginwidth="0">Carregando…</iframe>
            </div>
        </div>

    </div>

    <div class="background_2023" />
</section>