<header>
    <div class="logo-chamaviva">
        <img src="img/SAL_E_LUZ/logo_01.png" alt="">
    </div>

    <div class="open_menu">
        <i class="ph-bold ph-list menu-open"></i>
    </div>

    <div class="menu">
        <nav>
            <li><a href="">Home</a></li>
            <li><a href="">Evento</a></li>
            <li><a href="">Sobre</a></li>
            <li><a href="">T-Shirt</a></li>
            <li><a href="">Doações</a></li>
            <li><a href="">Mais</a></li>
        </nav>
    </div>
</header>

<main>
    <section>
        <div class="img-effect img-effect-01">
            <img src="img/BACKGROUND/png_01.png" alt="">
        </div>
        <div class="apresentacao">
            <img src="img/logo_sf.png" alt="">
        </div>

        <div class="img-effect img-effect-01">
            <img src="img/BACKGROUND/png_01.png" alt="">
        </div>
    </section>
</main>