<main>
    <div class="vendas">
        <div class="clientes">
            <div class="cliente">

                <span>Localizar cliente</span>
                <i class="ph ph-magnifying-glass"></i>

                <div class="seach-client">
                    <div class="input">
                        <input type="text" name="cliente" id="cliente">
                        <i class="ph ph-magnifying-glass"></i>
                    </div>
                    
                    <i class="ph ph-x"></i>

                    <div class="cliente-name">
                        <a href="">Lucas rodrigues de oliveira</a>
                        <a href="">Karina de souza justino</a>
                        <a href="">Debora rodrigues de oliveira</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</main>