
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

:root
{
    --font-01: 'Encode Sans', sans-serif;
    --font-02: 'Roboto', sans-serif;
    --font-03: 'Poppins', sans-serif;

    --color-01: #3703A6;
    --color-02: #250838;
    --color-03: #260273; 
    --color-04: #D7F205;
    --color-05: #C0D907;
    --color-06: white;
    --color-07: black;
    --color-08: #0eb7a0;
    --color-09: rgba(105, 105, 105, 0.855);
    --color-10: rgba(255, 255, 255, 0.784);

    --swiper-pagination-bottom: 5px;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    position: relative;
    min-height: 100vh;
}

header
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    width: 100%;

    font-family: var(--font-01);
}

header .logo
{
    display: none;
    width: 320px;
    height: 100px;
}

header .logo img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header h1
{
    width: 100%;
    padding: 10px 0;
    position: fixed;

    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    color: var(--color-06);
    z-index: 10;

    font-family: var(--font-03);

    font-size: 25px;
    font-weight: normal;
    background-color: var(--color-02);

}

header h1 span
{
    font-size: 32px;
    animation: chameAnimate 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite alternate;
}

@keyframes chameAnimate {
    0% {opacity: 1;}
    1% {opacity: 0.9;}
    30% {opacity: 1;}
    50% {opacity: 0.8;}
    80% {opacity: 1;}
    100% {opacity: 0.9;}
}

header .menu
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

header .menu nav{
    display: block;
    width: 100%;
}

header .menu nav ul{
    display: flex;
    align-items: center;
    justify-content: center;

    list-style: none;

    background-color: var(--color-02);
    width: 100%;
}

header .menu nav ul li
{
    flex-grow: 1;
    padding: 10px 0;
}

header .menu nav ul li:hover
{
    background-color: var(--color-03);
}

header .menu nav ul li a
{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;

    color: var(--color-06);
}

header .menu nav ul li a i
{
    color: var(--color-06);
    font-size: 35px;
}

/* Evento */

main 
{
    margin: 80px 0 90px 0;
}

main .home
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

main .home section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* SOBRE */

main .home .sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

main .home .sobre img 
{
    width: 320px;
}

main .home .sobre h1
{
    font-family: var(--font-02);
    letter-spacing: 1px;
    text-align: center;
    margin-top: 25px;
    background-color: var(--color-02);
    border-radius: 8px 8px 0 0 ;
    color: var(--color-06);
    padding: 5px 8px;
}

main .home .sobre p
{
    padding: 10px 25px;
    font-size: 20px;
    font-family: var(--font-02);
    line-height: 28px;
    text-align: center;
    width: 320px;
    background-color: rgba(176, 176, 176, 0.615);
}

main .home .sobre iframe
{
    margin-top: 15px;
}

/* /SOBRE */




/* SHOP */

main .home .shop 
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    overflow: hidden;
    padding: 15px 0;
}

main .home .shop .shop_img
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

main .home .shop .shop_img svg:nth-child(1)
{
    position: absolute;
    top: 0;
    z-index: -1;
    transform: translateX(-15px);
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

main .home .shop:hover .shop_img svg:nth-child(1)
{
    transform: translateX(-20px);
}

main .home .shop .shop_img svg:nth-child(1) path
{
    fill: var(--color-08);
}

main .home .shop .shop_img svg:nth-child(2)
{
    position: absolute;
    top: 0;
    z-index: 0;
    transform: translateY(15px);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

main .home .shop:hover .shop_img svg:nth-child(2)
{
    transform: translateY(15px) translateX(10px);
}

main .home .shop .shop_img svg:nth-child(2) path
{
    fill:var(--color-02);
}

main .home .shop .shop_img img {
    width: 320px;
    height: fit-content;
    object-fit: cover;
    transform: translateX(30px);

}

main .home .shop .shop_description
{
    position: absolute;
    /* right: -200px; */
    right: 0;
    bottom: 98px;
    transition: all .3s ease-in-out;
}

/* main .home .shop:hover .shop_description
{
    right: 0;
} */

main .home .shop .shop_description a
{
    text-decoration: none;
    color: var(--color-07);
}

main .home .shop .shop_description a h1 
{
    text-align: right;
    font-family: var(--font-02);
    background-color: var(--color-10);
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 0 0 7px 7px;
}

main .home .shop .shop_description_details a
{
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    font-family: var(--font-03);
    border-radius: 15px;
    padding: 6px 25px;
    background-color:  var(--color-08);
    border: 0.5px solid var(--color-08);
    color: var(--color-06);
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    letter-spacing: 1px;
}

main .home .shop .shop_description_details a:hover
{
    letter-spacing: 2px;
    background-color:  var(--color-06);
    color: var(--color-08);
}

/* /SHOP */

main .home .eventSwiper
{
    cursor: grab;
    position: relative;
}

main .home .eventSwiper:active
{
    cursor: grabbing;
}

main .home .eventSwiper h1
{
    width: 100%;
    position: absolute;
    top: 383px;
    left: 0;
    font-family: var(--font-01);
    color: var(--color-06);
    background-color: var(--color-09);
    padding: 5px 15px ;
    z-index: 10;
    font-size: 25px;

}

main .home .eventSwiper
{
    width: 320px;
}


main .home .eventSwiper img {
    object-fit: cover;
    width: 100%;
    height: 480px;
}

main .home .eventSwiper .links > a
{
    margin-top: 10px;
    display: block;
    font-family: var(--font-01);
    font-size: 18px;
    text-decoration: none;
    padding: 10px 10px;
    background-color: var(--color-01);
    border-radius: 40px;
    text-align: center;
    color: var(--color-06);
    letter-spacing: 2px;
    border: 1px solid var(--color-01);
    transition: all 0.2s ease-in-out;

}

main .home .eventSwiper .links > a:hover
{
    background-color: var(--color-06);
    color: var(--color-01);
}


main .home .redesSociais
{
    padding: 15px;
    text-align: center;
    font-family: var(--font-02);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

main .home .redesSociais .instagram
{
    display: flex;
    gap: 20px;
}

main .home .redesSociais .instagram a
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    text-decoration: none;
}

main .home .redesSociais .instagram a i
{
    font-weight: bold;
    font-size: 25px;
}

#back
{
    width: fit-content;
    color: var(--color-06);
    text-decoration: none;
    margin: 15px 0;
    animation: AnimateBack .8s ease-out infinite alternate ;
}

#back i
{
    font-size: 45px;
    background-color: var(--color-03);
    padding: 2px;
    border-radius: 4px;
   
}

@keyframes AnimateBack {
    0%
    {
        transform: translateY(0x);
    }
    100%
    {
        transform: translateY(10px);
    }
}

a
{
    user-select: none;
}
